* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.scrollBtn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.scrollBtn:hover {
  background: #eaeaea;
  color: #333;
}



#header {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#img1 {
  position: absolute;
  background: #333 url("slike/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#header-text {
  padding: 0 1.5em;
  grid-column: 2/4;
}

.textStyle {
  padding: 0 1.5em;
  grid-column: 2/4;
}


#textSection {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}


#cardList {
  padding: 2em 1em 1em;
}

#cardList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cardList li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}


#textSection2 {
  background: #fff;
  color: #333;
  padding: 2em;
}


.blue {
  padding: 2em;
  color: #fff;
}

.dark{
  padding: 2em;
  color: #fff;
}


#bottom {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}


@media (min-width: 700px) {
  .position {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #movingP {
    columns: 2;
    column-gap: 2em;
    padding-top: 0;
  }

  #movingP p{
    padding-top: 0;
  }
 

  #cardList ul {
    grid-column: 2/4;
    display: flex;
    justify-content:  space-around;
  }

  #cardList li {
    width: 31%;
  }

  .textStyle2{
    grid-column: 2/4;
  }

  .blue, .dark{
    grid-column: span 2;
  }

  #bottomLeft, #bottomRight{
    grid-column: span 2;
  }

}